<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Unboxing_pre</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/GmarketSansTTFBold.ttf</string>
		<string>Fonts/GmarketSansTTFLight.ttf</string>
		<string>Fonts/GmarketSansTTFMedium.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb554330805918428</string>
				<string>unboxing</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>554330805918428</string>
	<key>FacebookClientToken</key>
	<string>80efb795c90e7a1f5c6c4e7c20fffeb5</string>
	<key>FacebookDisplayName</key>
	<string>unboxing</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>kftc-bankpay</string> <!-- 계좌이체 -->
		<string>ispmobile</string> <!-- ISP모바일 -->
		<string>itms-apps</string> <!-- 앱스토어 -->
		<string>hdcardappcardansimclick</string> <!-- 현대카드-앱카드 -->
		<string>smhyundaiansimclick</string> <!-- 현대카드-공인인증서 -->
		<string>shinhan-sr-ansimclick</string> <!-- 신한카드-앱카드 -->
		<string>smshinhanansimclick</string> <!-- 신한카드-공인인증서 -->
		<string>kb-acp</string> <!-- 국민카드-앱카드 -->
		<string>mpocket.online.ansimclick</string> <!-- 삼성카드-앱카드 -->
		<string>ansimclickscard</string> <!-- 삼성카드-온라인결제 -->
		<string>ansimclickipcollect</string> <!-- 삼성카드-온라인결제 -->
		<string>vguardstart</string> <!-- 삼성카드-백신 -->
		<string>samsungpay</string> <!-- 삼성카드-삼성페이 -->
		<string>scardcertiapp</string> <!-- 삼성카드-공인인증서 -->
		<string>lottesmartpay</string> <!-- 롯데카드-모바일결제 -->
		<string>lotteappcard</string> <!-- 롯데카드-앱카드 -->
		<string>cloudpay</string> <!-- 하나카드-앱카드 -->
		<string>nhappcardansimclick</string> <!-- 농협카드-앱카드 -->
		<string>nonghyupcardansimclick</string> <!-- 농협카드-공인인증서 -->
		<string>citispay</string> <!-- 씨티카드-앱카드 -->
		<string>citicardappkr</string> <!-- 씨티카드-공인인증서 -->
		<string>citimobileapp</string> <!-- 씨티카드-간편결제 -->
		<string>kakaotalk</string> <!-- 카카오톡 -->
		<string>payco</string> <!-- 페이코 -->
		<string>lpayapp</string> <!-- (구)롯데 L페이 -->
		<string>hanamopmoasign</string> <!-- 하나카드 공인인증앱 -->
		<string>wooripay</string> <!-- (구) 우리페이 -->
		<string>nhallonepayansimclick</string> <!-- NH 올원페이 -->
		<string>hanawalletmembers</string> <!-- 하나카드(하나멤버스 월렛) -->
		<string>chaipayment</string> <!-- 차이 -->
		<string>kb-auth</string> <!-- 국민 -->
		<string>hyundaicardappcardid</string>  <!-- 현대카드 -->
		<string>com.wooricard.wcard</string>  <!-- 우리won페이 -->
		<string>lmslpay</string>  <!-- 롯데 L페이 -->
		<string>lguthepay-xpay</string>  <!-- 페이나우 -->
		<string>liivbank</string>  <!-- Liiv 국민 -->
		<string>supertoss</string> <!-- 토스 -->
	</array>
</dict>
</plist>
